/* Fonts */
@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
}

html {
  height: 100%;
}

/* Body */
body {
  display: flex;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #F2F2F2;
  margin: 0;
}

.page-container {
  width: 1200px;
  background-color: #FFFFFF;
  box-shadow: 0 0 15px #00000020;
  margin: 0 auto;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* Buttons */
.button {
  border: 0;
  font-family: inherit;
  font-weight: 700;
  color: #FFFFFF;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border: 0;
}

.button-small {
  font-size: 16px;
  line-height: 20px;
  padding: 8px 24px;
}

.button-big {
  font-size: 20px;
  line-height: 36px;
  padding: 8px 50px;
}

.brown {
  background-color: #756157;
}

.blue {
  background-color: #82B3D3;
}

.green {
  background-color: #7DB54F;
}

.grey {
  display: block;
  background-color: #F2F2F2;
  color: #000000;
  font-weight: 400;
  width: 140px;
}

.transparent {
  background-color: #FFFFFF00;
}

/* Inputs */
input {
  background: #F2F2F2;
  border-radius: 4px 0 0 4px;
  padding: 12px 20px;
  border: none;
  font-family: inherit;
  line-height: 24px;
  color: #00000060;
}

.price-range {
  padding: 0;
  color: #000000;
  font-size: inherit;
  font-weight: 700;
  padding: 12px 20px;
}

fieldset {
  border: 0;
}

.select-control {
  font-family: inherit;
  font-weight: 400;
  padding: 14px 20px;
  width: 292px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}

/* Header */
.page-header {
  background-color: #FFFFFF;
  color: inherit;
}

.navigation {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0px 70px;
  gap: 30px;
}

.navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
}

.navigation-user {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

.navigation-link {
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
}

.navigation-item {
  padding: 16px 20px;
}

.header-logo {
  display: flex;
  align-self: flex-start;
}

/* Body */
.main-index {
  flex-grow: 1;
}

.hero-main {
  color: #000000;
  background-color: #82B3D31F;
  background-image: url("../images/divider.svg"), url("../images/background-hero.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto, cover;
  background-position: bottom, center;
  text-align: center;
  margin: 0 auto;
  padding-top: 51px;
  padding-bottom: 82px;
}

.hero-title {
  background-color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding-top: 69px;
  padding-bottom: 25px;
  margin: 0 auto;
}

.advantages-head {
  font-size: 22px;
  line-height: 26px;
  margin-bottom: 90px;
  text-align: center;
}

.advantages-list,
.recommendations-list {
  margin: 0;
  padding: 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.advantages-item {
  display: flex;
  flex-basis: 400px;
  object-fit: cover;
  min-height: 384px;
  justify-content: center;
  align-items: center;
}

.advantages-item img {
  flex-grow: 2;
  object-fit: cover;
  vertical-align: top;
}

.advantages-item article,
.recommendations-item article {
  width: 230px;
}

.advantages-item:nth-child(4n-3) {
  background-color: #82B3D3;
  color: #FFFFFF;
}

.advantages-item:nth-child(even) {
  background-color: #82B3D31F;
}

.advantages-item:nth-child(3n) {
  background-color: #82B3D333;
}

.recommendations-item {
  display: flex;
  flex-basis: 400px;
  min-height: 384px;
  justify-content: center;
  align-items: center;
}

.recommendations-item:nth-child(odd) {
  background-color: #82B3D31F;
}

.advantages-title,
.recommendations-title {
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 30px;
}

.advantages-description,
recommendations-description {
  margin: 0 auto;
}

.search {
  padding-top: 96px;
  padding-bottom: 96px;
  text-align: center;
}

.subscribe-index {
  background-color: #82B3D3;
  color: #FFFFFF;
  background-image: url("../images/background-subscribe.jpg");
  background-repeat: no-repeat;
  background-size: 100% auto;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-catalog {
  background-image: none;
  background-color: #FFFFFF;
  color: inherit;
  text-align: center;
  padding-top: 96px;
  padding-bottom: 104px;
}

.subscribe-title,
.search-title {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 20px;
}

.subscribe-description,
.search-description {
  font-size: 22px;
  line-height: 26px;
  margin-top: 0;
  margin-bottom: 54px;
}

/* Catalog search */
.catalog-search {
  background-color: #82B3D3;
  color: #FFFFFF;
  background-image: url("../images/background-catalog-search.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 70px;
  padding-top: 35px;
}

.catalog-header-title {
  font-size: 60px;
  line-height: 78px;
  text-align: left;
  margin-top: 0;
  margin-bottom: 8px;
}

.breadcrumbs {
  display: flex;
  margin-top: 0;
  margin-bottom: 40px;
}

.breadcrumbs-item {
  font-size: 16px;
  line-height: inherit;
  text-align: left;
  margin-right: 10px;
}

.catalog-filter {
  display: flex;
}

.catalog-filter-group {
  padding-left: 0;
}

.catalog-filter-title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-top: 0;
  margin-bottom: 32px;
}

/* Search results */
.search-header {
  margin-top: 0;
  margin-bottom: 40px;
}

.search-results {
  padding: 70px;
  padding-top: 50px;
  padding-bottom: 60px;
}

.list-head {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 auto;
}

.hotel-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 40px;
}

.hotel-card {
  border: solid 1px #E6E6E6;
  border-radius: 4px;
  width: 340px;
}

.hotel-card p {
  margin-top: 0;
  margin-bottom: 16px;
}

.hotel-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  margin-top: 0;
  margin-bottom: 16px;
}

/* Pagination */
.pagination {
  display: flex;
}

.pagination-item {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #82B3D3;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  border-radius: 4px;
  margin-right: 8px;
  width: 60px;
  height: 60px;
}

.pagination-link {
  text-decoration: none;
  color: #FFFFFF;
}

.pagination .pagination-current {
  background-color: #F2F2F2;
}

.pagination-current a,
.pagination-dots a {
  color: inherit;
}

.pagination-dots {
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  color: inherit;
  background-color: #FFFFFF;
}

/* Footer */
.page-footer {
  background-color: #FFFFFF;
  color: #000000;
  padding: 70px;
  padding-top: 40px;
  padding-bottom: 30px;
}

.footer-contacts {
  display: flex;
  justify-content: space-between;
}

.contacts-social-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contacts-social-item {
  padding-left: 10px;
  padding-right: 10px;
}

.contacts-phone {
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: #000000;
  text-decoration: none;
}
